<form action="/cp/cp-title" method="post">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell text-right">
                <button type="button" class="button">Preview</button>
                <button type="submit" class="button">Save</button>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            
            <div class="cell medium-16">
                <fieldset class="fieldset">
                    <legend>{{componentName}}</legend>
                    {{#each form}}
                        {{#if (like @key 'cp-.*')}}
                            {{#each this}}
                            {{> data-fieldset}}
                            {{/each}}
                        {{else}}
                            {{> data-fieldset}}
                        {{/if}}
                    {{/each}}
                </fieldset>
            </div>
            
            <div class="cell medium-8">
                {{#if form.config}}
                {{> config-fieldset}}
                {{/if}}
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell text-right">
                <button type="button" class="button">Preview</button>
                <button type="submit" class="button">Save</button>
            </div>
        </div>
    </div>
</form>