<div class="cell">
    <label for="">
        {{label}}
    </label>
</div>
<div class="cell">
    <select>
        {{#each values}} <option value="{{this}}">{{this}}</option> {{/each}}
    </select>
</div>